{% extends "base.html" %}

{% block title %}Leaderboard - {{ contest_name }}{% endblock %}

{% block nav %}
<div hx-get="/navbar?session_id={{ session_id }}" hx-trigger="load" hx-swap="outerHTML"></div>
{% endblock %}

{% block main %}
<hgroup>
  <h1>Leaderboard</h1>
  <h6><a href="/contest/{{ session_id }}">{{ contest_name }}</a></h6>
</hgroup>

<figure>
  <table role="grid">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Score</th>
      </tr>
    </thead>

    <tbody>
      {% if !rankings.is_empty() %}
      {% for entry in rankings %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ entry.username }}</td>
        <td>{{ entry.score }}</td>
      </tr>
      {% endfor %}
      {% else %}
      <p><small>No rankings</small></p>
      {% endif %}
    </tbody>
  </table>
</figure>
{% endblock %}