{% if !users.is_empty() %}
{% for user in users %}
{% set user_id = user.id()|as_ref %}
<tr>
  <th scope="row">{{ loop.index + (page - 1) * 10 }}</th>
  <td>{{ user.username() }}</td>
  <td>
    {% if admins.contains(user_id) %}
    N/A
    {% else %}
    <button hx-delete="/admin/users?id={{ user.id() }}" hx-confirm="Are you sure you want to delete this user?"
      hx-target="closest tr" hx-swap="delete">Delete</button>
    {% endif %}
  </td>
</tr>
{% endfor %}

{% if more %}
<tr id="load-more">
  <td colspan="3">
    <button hx-get="/admin/users?page={{ page + 1 }}" hx-target="#load-more" hx-swap="outerHTML" class="secondary">
      Load more...
    </button>
  </td>
</tr>
{% endif %}
{% else %}
<p><small>No users</small></p>
{% endif %}