{% if !sessions.is_empty() %}
<figure>
  <table role="grid">
    <thead>
      <th scope="col">Contest</th>
      <th scope="col">Status</th>
    </thead>

    <tbody>
      {% for session in sessions %}
      <tr>
        <th scope="row"><a href="/contest/{{ session.id }}">{{ session.contest.name }}</a></th>

        {% if let Some(start) = session.start %}
        <td>Started at {{ start }}</td>
        {% else if let Some(end) = session.end %}
        <td>Ended at {{ end }}</td>
        {% else %}
        <td>Unstarted</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</figure>
{% else %}
<p><small>No active contests</small></p>
{% endif %}